@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            @foreach(var image in Model.productImages ){
            <img src="https://drive.google.com/uc?export=view&id=@(image.ImageUrl)" alt="">}
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <a href="#">
            <h2>@(Model.product.Name)</h2>
        </a>

        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p class="product-price"> $ @(Model.product.Price)</p>
        <p class="product-desc"> @(Model.product.Desc)</p>

        <div class="row product-quantity">
            <div class="pro-qty">
                <input type="text" value="1">
            </div>
        </div>

        <!-- Form -->
        <form class="cart-form clearfix" method="post">

            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->